{% load static %}
<div class="row">
    <div class="col">
      <div class="card" style="width: 18rem;">
          <img src="{% static 'woman.jpg' %}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Pool Side View</h5>
            <p class="card-text">Enjoy our state of the art pool facilities, while watching the sun over the horizon.</p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Beach Resort</li>
            <li class="list-group-item">Pool Side Seat</li>
            <li class="list-group-item">Enjoy the sunset over the horizon</li>
          </ul>
          <div class="card-body">
            <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">Another link</a>
          </div>
        </div>
    </div>
    <div class="col">
      <div class="card" style="width: 18rem;">
          <img src="{% static 'KidsRunningBeachCove.jpg' %}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Fun for your kids</h5>
            <p class="card-text">Blissfully watch your little ones run around in the surf and sand to their hearts content.</p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Beach Resort</li>
            <li class="list-group-item">Beach Fun for the kids</li>
            <li class="list-group-item">Watch you kids enjoy</li>
          </ul>
          <div class="card-body">
            <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">Another link</a>
          </div>
        </div>
    </div>
    <div class="col">
      <div class="card" style="width: 18rem;">
          <img src="{% static 'HotTub1.jpg' %}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Perfect Couples time</h5>
            <p class="card-text">Enjoy special time with your spouse one on one in one of our many hottubs by the pool.</p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Beach Resort</li>
            <li class="list-group-item">Pool Side Hot Tub</li>
            <li class="list-group-item">Enjoy relaxing with your other half.</li>
          </ul>
          <div class="card-body">
            <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">Another link</a>
          </div>
        </div>
    </div>
</div>