{% load static %}
<div class="row">
    <div class="col">
      <div class="card" style="width: 18rem;">
          <img src="{% static 'privatebeach.jpg' %}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Private Beach</h5>
            <p class="card-text">Enjoy Your very own Private Beach</p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Private Beach</li>
            <li class="list-group-item">Quiet Privacy</li>
            <li class="list-group-item">Enjoy Ocean View without the crowds</li>
          </ul>
          <div class="card-body">
            <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">Another link</a>
          </div>
        </div>
    </div>
    <div class="col">
      <div class="card" style="width: 18rem;">
          <img src="{% static 'KidsRunningBeachCove.jpg' %}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Row2_Package2</h5>
            <p class="card-text">Row2_Package2_Text</p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Beach Resort</li>
            <li class="list-group-item">Beach Fun for the kids</li>
            <li class="list-group-item">Watch you kids enjoy</li>
          </ul>
          <div class="card-body">
            <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">Another link</a>
          </div>
        </div>
    </div>
    <div class="col">
      <div class="card" style="width: 18rem;">
          <img src="{% static 'HotTub1.jpg' %}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Row2_Package3</h5>
            <p class="card-text">Row2_Package3_Text</p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Beach Resort</li>
            <li class="list-group-item">Pool Side Hot Tub</li>
            <li class="list-group-item">Enjoy relaxing with your other half.</li>
          </ul>
          <div class="card-body">
            <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">Another link</a>
          </div>
        </div>
    </div>
</div>